.restaurantList {
    list-style: none;
    padding: 0;
    border-top: 1px solid #ccc;
}

.restaurant {border-bottom: 1px solid #ccc;
    padding: 10px 0;
    margin: 20px 0;
    display: flex;}

.leftSide {
    padding: 5px;
}

.rightSide {
    padding: 10px;
}

.restaurantName {
    margin: 10px 0;
}

.restaurantNameLink {
    color: #444;
    font-size: 28px;
    font-weight: bold;
    text-decoration: none;
}

.catch {
    color: #444;
    font-size: 14px;
    font-weight: bold;
}

.access,
.open {
    color: #444;
    font-size: 14px;
}

.bold {
    font-weight: bold;
}